---
import BaseLayout from "../Layouts/BaseLayout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

const title = 'Portfolio'
---

<BaseLayout headerTitle={title}>
	<Header />
	<h1 class="text-4xl text-white font-bold text-center" >Sans Serif</h1>
	<Footer />
</BaseLayout>

