---
import { Icon } from 'astro-icon/components'
type Props = {
    iconSrc: string,
    link: string, 
}
const { iconSrc, link } = Astro.props
---

<a class="no-underline" target="_blank" href={link}>
    <button type="button" class="bg-transparent border-1 border-[#7f5af0] hover:scale-90 hover:shadow-[#895af0] hover:shadow-sm transition-all duration-300 ease-in-out py-2.5 px-6 rounded-xl cursor-pointer flex justify-center items-center">
        <Icon name={iconSrc} class="text-[#7f5af0]" size="20"  />
    </button>
</a>