---
import '../styles/global.css'
import ContactLinks from './ContactLinks.astro'

const title = "Don't forget to reach me out!"
---

<footer class="w-full flex flex-col text-white justify-center items-center gap-3.5 px-2.5 py-5 lg:justify-start lg:items-start">
    <p class="text-lg text-[#fffffe] font-sans font-normal py-1.5" >{ title }</p>
    <ContactLinks />
</footer>