---
import '../styles/global.css';
import '@fontsource-variable/dm-sans';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const { headerTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ headerTitle }</title>
	</head>
	<body class="bg-gradient-to-bl from-[#232946] to-[#4d23ba] font-['DM Sans Variable', 'sans-serif'] flex flex-col justify-center items-center">
		<div class="grid grid-rows-[auto_1fr_auto] w-full min-h-dvh max-w-5xl">
			<Header />
			<main class="w-full">
				<section class="w-full">
					<slot />
				</section>
			</main>
			<Footer />
		</div>
	</body>
</html>
